{% extends 'base.html.twig' %}

{% block title %}Change your password{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mb-5">Change your password</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">Change your password</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
