{% extends 'base.html.twig' %}

{% block title %}Welcome!{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron mt-3">
            <h1 class="display-3">Welcome to FlatShare!</h1>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, eligendi, voluptate. A accusamus accusantium ad cumque dolorem eos, facere laboriosam minus mollitia officiis quaerat quos soluta tempora? Assumenda corporis dignissimos excepturi fuga incidunt labore, natus omnis, placeat porro quasi temporibus totam vero voluptate. Ea neque quos unde. A, enim quibusdam.</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
            </p>
        </div>

        <h2 class="mt-3 mb-4">Our team's pick</h2>
        <div class="row mt-5">
            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header text-center">
                        3 rooms, <strong>49$/night</strong><br>
                        <small>Not rated yet</small>
                        <img src="http://placehold.it/1000x400" alt="Image" style="height: 200px; width: 100%; display: block;">

                        <div class="card-body">
                            <h4 class="card-title">
                                Awesome flat!
                            </h4>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad amet ea in, laudantium maiores minus modi necessitatibus perferendis quisquam repellat.
                            </p>
                            <a href="#" class="btn-secondary">Learn More!</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header text-center">
                        3 rooms, <strong>49$/night</strong><br>
                        <small>Not rated yet</small>
                        <img src="http://placehold.it/1000x400" alt="Image" style="height: 200px; width: 100%; display: block;">

                        <div class="card-body">
                            <h4 class="card-title">
                                Awesome flat!
                            </h4>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad amet ea in, laudantium maiores minus modi necessitatibus perferendis quisquam repellat.
                            </p>
                            <a href="#" class="btn-secondary">Learn More!</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header text-center">
                        3 rooms, <strong>49$/night</strong><br>
                        <small>Not rated yet</small>
                        <img src="http://placehold.it/1000x400" alt="Image" style="height: 200px; width: 100%; display: block;">

                        <div class="card-body">
                            <h4 class="card-title">
                                Awesome flat!
                            </h4>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad amet ea in, laudantium maiores minus modi necessitatibus perferendis quisquam repellat.
                            </p>
                            <a href="#" class="btn-secondary">Learn More!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h2 class="mt-3 mb-4">Owners of the month</h2>
        <div class="row mt-5">
            <div class="col">
                <div class="card border-secondary mb-3">
                    <div class="card-body">
                        <div class="card-title">Olivia Pickles</div>
                        <hr>
                        <div class="card-text">
                            <img src="https://placehold.it/64x64" alt="Olivia Pickles Avatar" class="float-left mr-3">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, similique.
                            <a href="#" class="btn btn-success float-right">Learn More!</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-secondary mb-3">
                    <div class="card-body">
                        <div class="card-title">Olivia Pickles</div>
                        <hr>
                        <div class="card-text">
                            <img src="https://placehold.it/64x64" alt="Olivia Pickles Avatar" class="float-left mr-3">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, similique.
                            <a href="#" class="btn btn-success float-right">Learn More!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}